<?xml version="1.0" ?>
<robot name="Walker">

<link name="base_link">
  <inertial>
    <origin xyz="2.0793433415480818e-05 1.726860883851009e-05 -0.024946823684212062" rpy="0 0 0"/>
    <mass value="0.0065722113345469"/>
    <inertia ixx="3e-06" iyy="2e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="servo_1_1">
  <inertial>
    <origin xyz="-0.01407241151377885 -0.01000050594467648 -0.020405128601027816" rpy="0 0 0"/>
    <mass value="0.07169587899149946"/>
    <inertia ixx="1.5e-05" iyy="1.8e-05" izz="1e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.013925 -0.009999 0.004375" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.013925 -0.009999 0.004375" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_hip_1">
  <inertial>
    <origin xyz="-0.017094610174780547 5.409010039696132e-05 -0.02273416032004668" rpy="0 0 0"/>
    <mass value="0.0160262455466391"/>
    <inertia ixx="9e-06" iyy="9e-06" izz="1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.018625 1e-06 0.037125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.018625 1e-06 0.037125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="servo_2_1">
  <inertial>
    <origin xyz="1.0322362724992593e-07 -0.0187715448347146 -0.012343253861906989" rpy="0 0 0"/>
    <mass value="0.07170037534026219"/>
    <inertia ixx="1.8e-05" iyy="1.5e-05" izz="1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="4.3e-05 -0.01862 0.077732" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="4.3e-05 -0.01862 0.077732" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_thigh_1">
  <inertial>
    <origin xyz="0.009998142266281465 -0.013920097862656359 -0.014638671259925407" rpy="0 0 0"/>
    <mass value="0.02773211376260182"/>
    <inertia ixx="1.6e-05" iyy="1.6e-05" izz="4e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.010043 -0.01392 0.110482" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.010043 -0.01392 0.110482" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_knee_1">
  <inertial>
    <origin xyz="0.017040662714731522 -0.015050422289197823 -0.01299754762946062" rpy="0 0 0"/>
    <mass value="0.037245137080226885"/>
    <inertia ixx="2.6e-05" iyy="2e-05" izz="1.7e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="4.3e-05 -0.01507 0.142732" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="4.3e-05 -0.01507 0.142732" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="servo_3_1">
  <inertial>
    <origin xyz="1.0433313225460827e-07 -0.0187716103640676 -0.012343869311401828" rpy="0 0 0"/>
    <mass value="0.07170037538363631"/>
    <inertia ixx="1.8e-05" iyy="1.5e-05" izz="1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="4.3e-05 -0.01862 0.173713" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="4.3e-05 -0.01862 0.173713" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_shin_1">
  <inertial>
    <origin xyz="0.009998045175797545 -0.013920177763257166 -0.01463991167715778" rpy="0 0 0"/>
    <mass value="0.02773184406480059"/>
    <inertia ixx="1.6e-05" iyy="1.6e-05" izz="4e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.010043 -0.01392 0.206463" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.010043 -0.01392 0.206463" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_ankle_1">
  <inertial>
    <origin xyz="0.0019010025219641888 -0.013278581179504657 -0.014282535705797406" rpy="0 0 0"/>
    <mass value="0.02214685736623212"/>
    <inertia ixx="1.2e-05" iyy="1.1e-05" izz="1.3e-05" ixy="0.0" iyz="1e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="4.3e-05 -0.01507 0.238713" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="4.3e-05 -0.01507 0.238713" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="servo_4_1">
  <inertial>
    <origin xyz="-0.018772415494244903 -0.012344998919058228 -4.7309787459814956e-07" rpy="0 0 0"/>
    <mass value="0.07169587899501298"/>
    <inertia ixx="1.5e-05" iyy="1e-05" izz="1.8e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.018625 -0.012495 0.27896" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.018625 -0.012495 0.27896" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/servo_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_foot_1">
  <inertial>
    <origin xyz="-0.01391936149218332 0.018879925905136603 -0.0228005987916986" rpy="0 0 0"/>
    <mass value="0.02421909542027639"/>
    <inertia ixx="1.1e-05" iyy="1.5e-05" izz="2.1e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.013925 0.020255 0.26896" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.013925 0.020255 0.26896" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/right_foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 58" type="fixed">
  <origin xyz="0.013925 0.009999 -0.004375" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="servo_1_1"/>
</joint>

<joint name="Revolute 59" type="continuous">
  <origin xyz="0.0047 -0.01 -0.03275" rpy="0 0 0"/>
  <parent link="servo_1_1"/>
  <child link="right_hip_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
</joint>

<joint name="Revolute 60" type="continuous">
  <origin xyz="-0.018668 0.018621 -0.040607" rpy="0 0 0"/>
  <parent link="right_hip_1"/>
  <child link="servo_2_1"/>
  <axis xyz="0.0 -1.0 1e-06"/>
</joint>

<joint name="Rigid 61" type="fixed">
  <origin xyz="-0.01 -0.0047 -0.03275" rpy="0 0 0"/>
  <parent link="servo_2_1"/>
  <child link="right_thigh_1"/>
</joint>

<joint name="Rigid 62" type="fixed">
  <origin xyz="0.01 0.00115 -0.03225" rpy="0 0 0"/>
  <parent link="right_thigh_1"/>
  <child link="right_knee_1"/>
</joint>

<joint name="Revolute 64" type="continuous">
  <origin xyz="0.0 0.00355 -0.030981" rpy="0 0 0"/>
  <parent link="right_knee_1"/>
  <child link="servo_3_1"/>
  <axis xyz="-0.0 1.0 -1e-06"/>
</joint>

<joint name="Rigid 65" type="fixed">
  <origin xyz="-0.01 -0.0047 -0.03275" rpy="0 0 0"/>
  <parent link="servo_3_1"/>
  <child link="right_shin_1"/>
</joint>

<joint name="Revolute 66" type="continuous">
  <origin xyz="0.01 0.00115 -0.03225" rpy="0 0 0"/>
  <parent link="right_shin_1"/>
  <child link="right_ankle_1"/>
  <axis xyz="0.0 -1.0 1e-06"/>
</joint>

<joint name="Revolute 67" type="continuous">
  <origin xyz="0.018668 -0.002575 -0.040247" rpy="0 0 0"/>
  <parent link="right_ankle_1"/>
  <child link="servo_4_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
</joint>

<joint name="Rigid 68" type="fixed">
  <origin xyz="-0.0047 -0.03275 0.01" rpy="0 0 0"/>
  <parent link="servo_4_1"/>
  <child link="right_foot_1"/>
</joint>

</robot>
