<?xml version="1.0" ?>
<robot name="Walker">

<link name="base_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.27927069718535813"/>
    <inertia ixx="5.8e-05" iyy="5.9e-05" izz="4.2e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component212_1">
  <inertial>
    <origin xyz="0 0.015 -0.04" rpy="0 0 0"/>
    <mass value="0.7031706971853583"/>
    <inertia ixx="0.000636" iyy="0.000636" izz="0.000106" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.015 0.03" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/Component212_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.015 0.03" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/Component212_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component215_1">
  <inertial>
    <origin xyz="0 0.015 -0.04" rpy="0 0 0"/>
    <mass value="0.7031706971853583"/>
    <inertia ixx="0.000636" iyy="0.000636" izz="0.000106" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.015 0.11" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/Component215_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.015 0.11" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/Component215_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component218_1">
  <inertial>
    <origin xyz="0 0.015 -0.01" rpy="0 0 0"/>
    <mass value="0.27927069718535813"/>
    <inertia ixx="5.8e-05" iyy="5.9e-05" izz="4.2e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.015 0.19" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/Component218_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.015 0.19" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/Component218_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 102" type="revolute">
  <origin xyz="0.0 -0.015 -0.03" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Component212_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 103" type="revolute">
  <origin xyz="0.0 0.0 -0.08" rpy="0 0 0"/>
  <parent link="Component212_1"/>
  <child link="Component215_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit lower="0" upper="3.14" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 104" type="revolute">
  <origin xyz="0.0 0.0 -0.08" rpy="0 0 0"/>
  <parent link="Component215_1"/>
  <child link="Component218_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

</robot>
