<launch>

<rosparam file="$(find Walker_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Walker" args="Revolute 85_position_controller Revolute 86_position_controller Revolute 87_position_controller Revolute 88_position_controller Revolute 89_position_controller Revolute 91_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/Walker/joint_states"/>
</node>

</launch>