<?xml version="1.0" ?>
<robot name="Walker">

  <!-- Definicje materiałów -->
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>

  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>
 
  <material name="yellow">
    <color rgba="1.0 1.0 0.0 1.0"/>
  </material>
  
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

<link name="base_link">
  <inertial>
    <origin xyz="0 0 -0.024654703854040158" rpy="0 0 0"/>
    <mass value="0.4"/>
    <inertia ixx="0.001638" iyy="0.000407" izz="0.00149" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_thigh_1">
  <inertial>
    <origin xyz="2.108203541373025e-15 -0.018649999880792342 -0.032860697132762656" rpy="0 0 0"/>
    <mass value="0.6635304485624715"/>
    <inertia ixx="0.000524" iyy="0.000504" izz="0.000104" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.05865 0.077" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="yellow"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.05865 0.077" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_knee_1">
  <inertial>
    <origin xyz="0.02018305947618088 -0.016499999880792593 -0.015609456102738312" rpy="0 0 0"/>
    <mass value="0.3524642857407411"/>
    <inertia ixx="0.000199" iyy="0.000144" izz="0.000116" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0565 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0565 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_shin_1">
  <inertial>
    <origin xyz="-0.000184520523562128 -0.016499999880792746 -0.03413835088332473" rpy="0 0 0"/>
    <mass value="0.663530448562467"/>
    <inertia ixx="0.000524" iyy="0.000504" izz="0.000104" ixy="0.0" iyz="0.0" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.000168 -0.0565 0.175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="yellow"/>
  </visual>
  <collision>
    <origin xyz="0.000168 -0.0565 0.175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_ankle_1">
  <inertial>
    <origin xyz="-0.00010859174309388114 -0.018649999880793383 -0.019999273931096878" rpy="0 0 0"/>
    <mass value="0.16126943544832473"/>
    <inertia ixx="7.7e-05" iyy="7.7e-05" izz="9.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.00053 -0.05865 0.241999" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="red"/>
  </visual>
  <collision>
    <origin xyz="0.00053 -0.05865 0.241999" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_foot_1">
  <inertial>
    <origin xyz="-0.018649816490432312 0.012206893380140561 0.000103077142954211" rpy="0 0 0"/>
    <mass value="0.3639507075296119"/>
    <inertia ixx="9.6e-05" iyy="5.8e-05" izz="0.000107" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.017903 -0.04 0.282099" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="-0.017903 -0.04 0.282099" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_end_1">
  <inertial>
    <origin xyz="-1.3122473707552636e-05 0.011187985482633549 -0.002499739413802604" rpy="0 0 0"/>
    <mass value="0.23876488296307571"/>
    <inertia ixx="0.000103" iyy="0.000144" izz="0.000246" ixy="-0.0" iyz="0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.000823 -0.04 0.295998" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_end_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="yellow"/>
  </visual>
  <collision>
    <origin xyz="0.000823 -0.04 0.295998" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_end_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_thigh_1">
  <inertial>
    <origin xyz="1.7321209673196574e-15 0.018650000119208067 -0.03286069713276038" rpy="0 0 0"/>
    <mass value="0.6635304485624772"/>
    <inertia ixx="0.000524" iyy="0.000504" izz="0.000104" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.05865 0.077" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="yellow"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.05865 0.077" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_knee_1">
  <inertial>
    <origin xyz="0.02026723908891305 0.016500000119208 -0.015500000953674292" rpy="0 0 0"/>
    <mass value="0.3524642857407408"/>
    <inertia ixx="0.000199" iyy="0.000144" izz="0.000116" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.0565 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.0565 0.144" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_shin_1">
  <inertial>
    <origin xyz="-2.218061020608529e-15 0.01650000011920779 -0.034139304774588125" rpy="0 0 0"/>
    <mass value="0.6635304485624639"/>
    <inertia ixx="0.000524" iyy="0.000504" izz="0.000104" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.0565 0.175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="yellow"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.0565 0.175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_ankle_1">
  <inertial>
    <origin xyz="-3.9355901150777025e-15 0.018650000119207165 -0.020000001907324094" rpy="0 0 0"/>
    <mass value="0.1612694354483243"/>
    <inertia ixx="7.7e-05" iyy="7.7e-05" izz="9.4e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.05865 0.242" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="red"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.05865 0.242" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_foot_1">
  <inertial>
    <origin xyz="-0.0186500000000092 -0.012208754471098808 -1.907351165897353e-09" rpy="0 0 0"/>
    <mass value="0.36389521914943834"/>
    <inertia ixx="9.6e-05" iyy="5.8e-05" izz="0.000107" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.01865 0.04 0.282" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="-0.01865 0.04 0.282" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_end_1">
  <inertial>
    <origin xyz="-2.3868577335755496e-10 -0.011187985244216186 -0.0025000019222783387" rpy="0 0 0"/>
    <mass value="0.238764882963104"/>
    <inertia ixx="0.000103" iyy="0.000144" izz="0.000246" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.04 0.296" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_end_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="yellow"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.04 0.296" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_end_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_hip_1">
  <inertial>
    <origin xyz="-0.018649999999999233 1.1920847642343801e-10 -0.020000000000025386" rpy="0 0 0"/>
    <mass value="0.1612694354483246"/>
    <inertia ixx="7.7e-05" iyy="7.7e-05" izz="9.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.01865 -0.04 0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="red"/>
  </visual>
  <collision>
    <origin xyz="-0.01865 -0.04 0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/left_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_hip_1">
  <inertial>
    <origin xyz="-0.01864999999999952 1.192087956125576e-10 -0.020000000000025095" rpy="0 0 0"/>
    <mass value="0.1612694354483248"/>
    <inertia ixx="7.7e-05" iyy="7.7e-05" izz="9.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.01865 0.04 0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="red"/>
  </visual>
  <collision>
    <origin xyz="-0.01865 0.04 0.037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="walker2/Walker_description/meshes/right_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 32" type="revolute">
  <origin xyz="-0.01865 0.01865 -0.04" rpy="0 0 0"/>
  <parent link="left_hip_1"/>
  <child link="left_thigh_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 33" type="revolute">
  <origin xyz="0.0 -0.00215 -0.067" rpy="0 0 0"/>
  <parent link="left_thigh_1"/>
  <child link="left_knee_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
  <limit lower="-3.14" upper="3.14" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 34" type="revolute">
  <origin xyz="-0.000168 0.0 -0.031" rpy="0 0 0"/>
  <parent link="left_knee_1"/>
  <child link="left_shin_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <limit lower="0" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 35" type="revolute">
  <origin xyz="-0.000362 0.00215 -0.066999" rpy="0 0 0"/>
  <parent link="left_shin_1"/>
  <child link="left_ankle_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 36" type="revolute">
  <origin xyz="0.018433 -0.01865 -0.0401" rpy="0 0 0"/>
  <parent link="left_ankle_1"/>
  <child link="left_foot_1"/>
  <axis xyz="0.999985 -0.0 -0.005412"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Rigid 37" type="fixed">
  <origin xyz="-0.018726 0.0 -0.013899" rpy="0 0 0"/>
  <parent link="left_foot_1"/>
  <child link="left_end_1"/>
</joint>

<joint name="Revolute 39" type="revolute">
  <origin xyz="-0.01865 -0.01865 -0.04" rpy="0 0 0"/>
  <parent link="right_hip_1"/>
  <child link="right_thigh_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 40" type="revolute">
  <origin xyz="0.0 0.00215 -0.067" rpy="0 0 0"/>
  <parent link="right_thigh_1"/>
  <child link="right_knee_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <limit lower="-3.14" upper="3.14" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 41" type="revolute">
  <origin xyz="0.0 0.0 -0.031" rpy="0 0 0"/>
  <parent link="right_knee_1"/>
  <child link="right_shin_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
  <limit lower="-1.57" upper="0" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 42" type="revolute">
  <origin xyz="0.0 -0.00215 -0.067" rpy="0 0 0"/>
  <parent link="right_shin_1"/>
  <child link="right_ankle_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 43" type="revolute">
  <origin xyz="0.01865 0.01865 -0.04" rpy="0 0 0"/>
  <parent link="right_ankle_1"/>
  <child link="right_foot_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Rigid 44" type="fixed">
  <origin xyz="-0.01865 0.0 -0.014" rpy="0 0 0"/>
  <parent link="right_foot_1"/>
  <child link="right_end_1"/>
</joint>

<joint name="Revolute 46" type="revolute">
  <origin xyz="0.01865 0.04 -0.037" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_hip_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

<joint name="Revolute 47" type="revolute">
  <origin xyz="0.01865 -0.04 -0.037" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_hip_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/>
</joint>

</robot>
