<?xml version="1.0" ?>
<robot name="Walker" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Walker_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Walker_description)/urdf/Walker.trans" />
<xacro:include filename="$(find Walker_description)/urdf/Walker.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 -0.019940746103482097" rpy="0 0 0"/>
    <mass value="0.28093534859267927"/>
    <inertia ixx="5.9e-05" iyy="5.9e-05" izz="4.2e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_roll_1">
  <inertial>
    <origin xyz="-0.015000000000000097 8.898885287580091e-16 -0.009999999999998191" rpy="0 0 0"/>
    <mass value="0.2792706971853587"/>
    <inertia ixx="5.8e-05" iyy="5.8e-05" izz="4.2e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.015 -0.0 0.03" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/hip_roll_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.015 -0.0 0.03" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/hip_roll_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="thigh_1">
  <inertial>
    <origin xyz="-3.675018476364042e-16 -0.015000000000000213 -0.040000000000000216" rpy="0 0 0"/>
    <mass value="0.7031706971853584"/>
    <inertia ixx="0.000636" iyy="0.000636" izz="0.000106" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.015 0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.015 0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_1">
  <inertial>
    <origin xyz="-1.7593300251577167e-15 -0.01499999999999996 -0.009999999999999898" rpy="0 0 0"/>
    <mass value="0.27927069718535813"/>
    <inertia ixx="5.8e-05" iyy="5.9e-05" izz="4.2e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.015 0.13" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.015 0.13" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shin_1">
  <inertial>
    <origin xyz="5.248353906337566e-09 -0.014999999999999809 -0.03999998244649275" rpy="0 0 0"/>
    <mass value="0.7031704499676481"/>
    <inertia ixx="0.000636" iyy="0.000636" izz="0.000106" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.015 0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.015 0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_1">
  <inertial>
    <origin xyz="-7.240003152659723e-16 -0.015000000000000237 -0.009999999999997067" rpy="0 0 0"/>
    <mass value="0.27927069718535824"/>
    <inertia ixx="5.8e-05" iyy="5.8e-05" izz="4.2e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.015 0.23" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.015 0.23" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_roll_1">
  <inertial>
    <origin xyz="-0.014999999999999404 6.39785483460577e-16 -0.009999999999997178" rpy="0 0 0"/>
    <mass value="0.2792706971853587"/>
    <inertia ixx="5.8e-05" iyy="5.8e-05" izz="4.2e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.015 0.0 0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/ankle_roll_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.015 0.0 0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/ankle_roll_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot_1">
  <inertial>
    <origin xyz="6.245004505575571e-16 -2.76128590171539e-16 -0.004999999999999394" rpy="0 0 0"/>
    <mass value="0.5024"/>
    <inertia ixx="0.000272" iyy="0.000272" izz="0.000536" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.0 0.28" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.0 0.28" rpy="0 0 0"/>
    <geometry>
      <mesh filename="leg/Walker_description/meshes/foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="hip_roll" type="continuous">
  <origin xyz="0.015 0.0 -0.03" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_roll_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <!-- <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/> -->
</joint>

<joint name="hip_pitch" type="continuous">
  <origin xyz="-0.015 0.015 -0.02" rpy="0 0 0"/>
  <parent link="hip_roll_1"/>
  <child link="thigh_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
  <!-- <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/> -->
</joint>

<joint name="knee_pitch1" type="continuous">
  <origin xyz="0.0 0.0 -0.08" rpy="0 0 0"/>
  <parent link="thigh_1"/>
  <child link="knee_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
  <!-- <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/> -->
</joint>

<joint name="knee_pitch2" type="continuous">
  <origin xyz="0.0 0.0 -0.02" rpy="0 0 0"/>
  <parent link="knee_1"/>
  <child link="shin_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <!-- <limit lower="0" upper="1.57" effort="100" velocity="1.0"/> -->
</joint>

<joint name="ankle_pitch" type="continuous">
  <origin xyz="0.0 0.0 -0.08" rpy="0 0 0"/>
  <parent link="shin_1"/>
  <child link="ankle_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <!-- <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/> -->
</joint>

<joint name="ankle_roll" type="continuous">
  <origin xyz="0.015 -0.015 -0.02" rpy="0 0 0"/>
  <parent link="ankle_1"/>
  <child link="ankle_roll_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <!-- <limit lower="-1.57" upper="1.57" effort="100" velocity="1.0"/> -->
</joint>

<joint name="Rigid 120" type="fixed">
  <origin xyz="-0.015 0.0 -0.03" rpy="0 0 0"/>
  <parent link="ankle_roll_1"/>
  <child link="foot_1"/>
</joint>

</robot>
