<?xml version="1.0" ?>
<robot name="Walker" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Walker_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Walker_description)/urdf/Walker.trans" />
<xacro:include filename="$(find Walker_description)/urdf/Walker.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-1.8714321332029245e-15 -1.997259480472705e-18 -0.020000000000000004" rpy="0 0 0"/>
    <mass value="0.2792706971853582"/>
    <inertia ixx="5.8e-05" iyy="5.9e-05" izz="4.2e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="thigh_1">
  <inertial>
    <origin xyz="-3.049337275221765e-16 -0.01499999999999996 -0.04000000000000009" rpy="0 0 0"/>
    <mass value="0.7031706971853584"/>
    <inertia ixx="0.000636" iyy="0.000636" izz="0.000106" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.015 0.03" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.015 0.03" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_1">
  <inertial>
    <origin xyz="-1.711783204225683e-15 -0.015000000000000025 -0.009999999999999662" rpy="0 0 0"/>
    <mass value="0.27927069718535813"/>
    <inertia ixx="5.8e-05" iyy="5.9e-05" izz="4.2e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.015 0.11" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.015 0.11" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/knee_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shin_1">
  <inertial>
    <origin xyz="5.248353996103225e-09 -0.014999999999999979 -0.03999998244649294" rpy="0 0 0"/>
    <mass value="0.7031704499676481"/>
    <inertia ixx="0.000636" iyy="0.000636" izz="0.000106" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.015 0.13" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.015 0.13" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_1">
  <inertial>
    <origin xyz="-6.614160307778296e-16 -0.015000000000000046 -0.009892896884822783" rpy="0 0 0"/>
    <mass value="0.2763113169056768"/>
    <inertia ixx="5.8e-05" iyy="5.8e-05" izz="4.2e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.015 0.21" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.015 0.21" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ankle_roll_1">
  <inertial>
    <origin xyz="-0.01499999999999974 4.2700459907529125e-15 -0.009999999999990933" rpy="0 0 0"/>
    <mass value="0.2733519366259955"/>
    <inertia ixx="5.8e-05" iyy="5.8e-05" izz="4.2e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.015 0.0 0.23" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/ankle_roll_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.015 0.0 0.23" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/ankle_roll_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot_1">
  <inertial>
    <origin xyz="2.0932740912099903e-16 -1.4558288635419128e-16 -0.004999999999999838" rpy="0 0 0"/>
    <mass value="0.5024"/>
    <inertia ixx="0.000272" iyy="0.000272" izz="0.000536" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.0 0.26" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.0 0.26" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Walker_description/meshes/foot_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="hip" type="continuous">
  <origin xyz="0.0 0.015 -0.03" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="thigh_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="knee_1" type="continuous">
  <origin xyz="0.0 0.0 -0.08" rpy="0 0 0"/>
  <parent link="thigh_1"/>
  <child link="knee_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
</joint>

<joint name="knee_2" type="continuous">
  <origin xyz="0.0 0.0 -0.02" rpy="0 0 0"/>
  <parent link="knee_1"/>
  <child link="shin_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="ankle" type="continuous">
  <origin xyz="0.0 0.0 -0.08" rpy="0 0 0"/>
  <parent link="shin_1"/>
  <child link="ankle_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="Revolute 112" type="continuous">
  <origin xyz="0.015 -0.015 -0.02" rpy="0 0 0"/>
  <parent link="ankle_1"/>
  <child link="ankle_roll_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
</joint>

<joint name="Rigid 113" type="fixed">
  <origin xyz="-0.015 0.0 -0.03" rpy="0 0 0"/>
  <parent link="ankle_roll_1"/>
  <child link="foot_1"/>
</joint>

</robot>
